<div class="container">
  <div>
    <div class="profile-column">
      <img class="profile-image" src="assets/profile-user.png" alt="User profile picture">
      Nombre y apellidos
    </div>
    <div class="profile-column">
      <p>Email: loquesea@uoc.edu</p>
      <p>Fecha de nacimiento: 27/09/93</p>
      <p>Teléfono: 666666666</p>
      <p>NIF/NIE: 23423423-H</p>
      <p>Permisos de conducir: B, A1, A2</p>
    </div>
    <div class="profile-column">
      <label for="about-me">Acerca de mi</label>
      <textarea id="about-me">
      </textarea>
    </div>
    <div class="profile-column">
      <label for="other-competencies">Otras competencias</label>
      <textarea id="other-competencies">
      </textarea>
    </div>
  </div>

  <div class="row">
    <h2>Formación academica</h2>
    <table>
      <thead>
      <tr>
        <th>Nivel</th>
        <th>Título</th>
        <th>Centro</th>
        <th>Fecha</th>
        <th>Certificado</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Universidad</td>
        <td>Ingeniero en informática</td>
        <td>UOC</td>
        <td>10/10/2020</td>
        <td></td>
      </tr>
      <tr>
        <td>Ciclo formativo</td>
        <td>Desarrollo de aplicaciones web</td>
        <td>IES Pons D'icard</td>
        <td>20/11/2010</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <h2>Experiencia laboral</h2>
    <table>
      <thead>
      <tr>
        <th>Empresa</th>
        <th>Puesto</th>
        <th>Fechas</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Universidad</td>
        <td>Ingeniero en informática</td>
        <td>UOC</td>
      </tr>
      <tr>
        <td>Ciclo formativo</td>
        <td>Desarrollo de aplicaciones web</td>
        <td>IES Pons D'icard</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <h2>Idiomas</h2>
    <table>
      <thead>
      <tr>
        <th>Nivel</th>
        <th>Idioma</th>
        <th>Fecha</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>C1</td>
        <td>Catalán</td>
        <td>Ayer</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
