<mat-card>
    <div id="foto-perfil">
        <div>
            <img
                    class="img-fluid img-profile rounded-circle mx-auto mb-2"
                    src="{{ ( user$ | async ).avatar_hash }}"
            />
        </div>
        <div class="text-center pr-5">
            {{ (user$ | async).name + ' ' + (user$ | async).surname }}
        </div>
    </div>

    <section id="datosPersonales">
        <mat-list>
            <mat-list-item>Email:  {{ (user$ | async).email }}</mat-list-item>
            <mat-list-item>Fecha de nacimiento: {{ (user$ | async).birthdate }}</mat-list-item>
            <mat-list-item>Tel&eacute;fono: {{ (user$ | async).phone }}</mat-list-item>
            <mat-list-item>NIF/NIE: {{ (user$ | async).documentNumber }}</mat-list-item>
            <mat-list-item>Permisos de conducir: {{ (user$ | async).license }}</mat-list-item>
            <mat-list-item>Direccion: {{ (user$ | async).address | json }}</mat-list-item>
            <mat-list-item>Acerca de mi...: {{(user$ | async).aboutMe}}</mat-list-item>
            <mat-list-item>Otras competencias...: {{(user$ | async).otherCompetences}}</mat-list-item>
        </mat-list>
        <a mat-stroked-button color="primary" [routerLink]="['/admin/profile/profile-student/account']">Modificar</a>
    </section>

    <mat-divider></mat-divider>

    <section>
        <h2>Formaci&oacute;n acad&eacute;mica</h2>

        <table mat-table [dataSource]="datasource">
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef> Tipo</mat-header-cell>
                <mat-cell *matCellDef="let study"> {{study.level.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="level">
                <mat-header-cell *matHeaderCellDef> Nivel</mat-header-cell>
                <mat-cell *matCellDef="let study"> {{study.grade?.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> Título</mat-header-cell>
                <mat-cell *matCellDef="let study"> {{study.title.name || study.title}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="center">
                <mat-header-cell *matHeaderCellDef> Centro</mat-header-cell>
                <mat-cell *matCellDef="let study"> {{study.institution.name || study.institution}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> Fecha</mat-header-cell>
                <mat-cell *matCellDef="let study"> {{study.date}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cert">
                <mat-header-cell *matHeaderCellDef> Certificado</mat-header-cell>
                <mat-cell *matCellDef="let study"> {{study.certificate ? 'Sí' : 'No'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="bilingue">
                <mat-header-cell *matHeaderCellDef> Bilingüe</mat-header-cell>
                <mat-cell *matCellDef="let study"> {{study.bilingue ? 'Sí' : 'No'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="dual">
                <mat-header-cell *matHeaderCellDef> Dual</mat-header-cell>
                <mat-cell *matCellDef="let study"> {{study.dual ? 'Sí' : 'No'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Acciones</mat-header-cell>
                <mat-cell *matCellDef="let study">
                    <a mat-button color="primary" [routerLink]="['/admin/profile/profile-student/study', study.uid]">Editar</a>
                    |
                    <a mat-button color="primary" style="cursor:pointer" (click)="deleteStudy(study.uid)">Borrar</a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>

        <a mat-button color="primary" [routerLink]="['/admin/profile/profile-student/study']">Nueva formación</a>
    </section>

    <h2>Idiomas</h2>
    <section id="languages">
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
            <th>Nivel</th>
            <th>Idioma</th>
            <th>Fecha</th>
            <th>Acciones</th>
            </thead>
            <tbody>
            <tr *ngFor="let language$ of ( user$ | async ).languages">
                <td>{{ language$.level.name }}</td>
                <td>{{ language$.name.name }}</td>
                <td>{{ language$.date }}</td>
                <td>
                    <a
                            [routerLink]="[
                '/admin/profile/profile-student/language',
                language$.uid
              ]"
                    >Editar</a
                    >
                    |
                    <a style="cursor:pointer" (click)="deleteLanguage(language$.uid)"
                    >Borrar</a
                    >
                </td>
            </tr>
            </tbody>
        </table>
        <a [routerLink]="['/admin/profile/profile-student/language']"
        >Nuevo idioma</a
        >
    </section>

    <h2>Experiencia laboral</h2>
    <section id="work-experience">
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
            <th>Empresa</th>
            <th>Posición</th>
            <th>Fecha</th>
            <th>Acciones</th>
            </thead>
            <tbody>
            <tr *ngFor="let experience of ( user$ | async ).experiencies">
                <td>{{ experience.company }}</td>
                <td>{{ experience.position }}</td>
                <td>{{ experience.date }}</td>
                <td>
                    <a [routerLink]="['/admin/profile/profile-student/work-experience',experience.uid]"
                    >Editar</a
                    >
                    |
                    <a style="cursor:pointer" (click)="deleteExperience(experience.uid)"
                    >Borrar</a
                    >
                </td>
            </tr>
            </tbody>
        </table>
        <a [routerLink]="['/admin/profile/profile-student/work-experience']">Nueva experiencia</a>
    </section>
</mat-card>
