<div class="container">
  <form [formGroup]="editProfileForm">
    <div class="row">
      <div>
        <img class="profile-image" src="assets/profile-user.png" alt="User profile picture">
        {{user.username}}
      </div>
      <div>
        <!-- Name -->
        <div>
          <label>Nombre: <input type="text" formControlName="name"></label>
          <div class="error" *ngIf="isInvalidByRequired('name')">
            Nombre requerido
          </div>
          <div class="error" *ngIf="hasGoodLength('name')">
            Longitud entre 3 y 55 caracteres
          </div>
          <div class="error" *ngIf="hasNoSpecialChars('name')">
            No puede contener ni espacios ni caracteres especiales
          </div>
        </div>
        <!-- Surname -->
        <div>
          <label>Apellidos: <input type="text" formControlName="surname"></label>
          <div class="error" *ngIf="isInvalidByRequired('surname')">
            Apellidos requerido
          </div>
          <div class="error" *ngIf="hasGoodLength('surname')">
            Longitud entre 3 y 55 caracteres
          </div>
          <div class="error" *ngIf="hasNoSpecialChars('surname')">
            No puede contener ni espacios ni caracteres especiales
          </div>
        </div>
        <!-- Birthdate -->
        <label>Fecha de nacimiento: <input type="date" formControlName="birthdate"></label>
        <!-- Phone -->
        <div>
          <label>Teléfono: <input type="text" formControlName="phone"></label>
          <div class="error" *ngIf="onlyNumbers('phone')">
            Solamente números
          </div>
        </div>
        <!-- Phone2 -->
        <div>
          <label>Teléfono 2: <input type="text" formControlName="phone2"></label>
          <div class="error" *ngIf="onlyNumbers('phone2')">
            Solamente números
          </div>
        </div>
        <!-- NIF/NIE -->
        <div>
          <label>NIF/NIE:
            <select formControlName="nieType">
              <option *ngFor="let nieType of nieTypes" [ngValue]="nieType.id">
                {{ nieType.name }}
              </option>
            </select>
          </label>
        </div>
        <!-- Document number -->
        <label>Número de documento: <input type="text" formControlName="documentNumber"></label>
        <!-- Address -->
        <div>
          <label>Dirección: <input type="text" formControlName="address"></label>
          <div class="error" *ngIf="isString('address')">
            Usa carácteres.
          </div>
        </div>
        <!-- Province -->
        <div>
          <label>Provincia:
            <select formControlName="province">
              <option *ngFor="let province of provinces" [ngValue]="province.name">
                {{ province.name }}
              </option>
            </select>
          </label>
        </div>
        <!-- Municipe -->
        <div>
          <label>Municipio:
            <select formControlName="province">
              <!-- WIP -->
              <option *ngFor="let province of provinces" [ngValue]="province.name">
                {{ province.name }}
              </option>
            </select>
          </label>
        </div>
        <!-- License -->
        <div>
          <label>Permisos de conducir: <input type="text" formControlName="license"></label>
        </div>
      </div>
    </div>
    <!-- About me -->
    <div class="row">
      <label for="about-me">Acerca de mi</label>
      <textarea id="about-me" class="textarea-size">
        {{user.aboutMe}}
      </textarea>
    </div>

    <!-- Other competencies -->
    <div class="row">
      <label for="other-competencies">Otras competencias</label>
      <textarea id="other-competencies" class="textarea-size">
        {{user.otherCompetences}}
      </textarea>
    </div>

    <button>Guardar</button>
  </form>
</div>
