<div class="row">
  <a [routerLink]="['..']">Volver al listado de ofertas</a>
</div>
<div class="row">
  <h2>Oferta de trabajo</h2>
  <div>
    Empresa: {{offer.company.name}}
  </div>
  <div>
    Puesto: {{offer.job.name}}
  </div>
  <div>
    Descripción: {{offer.job.description}}
  </div>
  <div>
    Provincia: {{offer.province.name}}
  </div>
  <div>
    Municipio: {{offer.municipe.name}}
  </div>
</div>
<div class="row">
  <button (click)="registerToOffer(offer)">Inscribirse</button>
</div>
